
@import 'section-one';

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




//navigation desktop//
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  font-style: normal;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

header {
  text-align: center;
  padding: 0.5rem 0 5rem;
  font-size:20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-flex;
}

a {
  position: relative;
  padding: 1rem 0 0.5rem;
  margin: 0 1.5rem;
  color: rgb(17, 1, 1);
  text-decoration: none;
  
  
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 1px;
    background-color:rgb(17, 1, 1);
    transition: transform 250ms;
  }
  
  &:hover {
    
    &::after {
      transform: translateX(-50%) scaleX(1);
    }
    
  }
  
}
//div 1--> titre//
.svg-container {
 
  background-image: url('../assets/images/illu1.svg');
  position: absolute;
  width: 276px;
  height: 289px;
  left: 57px;
  top: 111px;
  
}

h1{
  position: absolute;
  width: 297px;
  height: 62px;
  left: 46px;
  top: 143px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 74px;
  
  color: #000000;
}

h2{
  position: absolute;
width: 280px;
height: 85px;
left: 48px;
top: 237px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 42px;

color: #000000;
}
//section intro//
.fond{
position: absolute;
width: 390px;
height: 507px;
left: 0px;
top: 432px;

background: rgba(255, 150, 165, 0.13);
border-radius: 8px;

}
/* Introduction */

h3{
  position: absolute;
  width: 197px;
  height: 48px;
  left: 24px;
  top: 464px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */
  
  
  color: #000000;
}
 
.svg-container2 {
  background-image: url(../assets/images/illu2.svg);
position: absolute;
width: 366px;
height: 458.53px;
left: 24px;
top: 448px;

  
}  

h4{
  position: absolute;
  width: 332px;
  height: 178px;
  left: 24px;
  top: 536px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  
  color: #000000;
  
}

p{
  position: absolute;
  width: 332px;
  height: 144px;
  left: 24px;
  top: 738px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  
  color: #000000;
}
//section 2 adn//

.h3{
  position: absolute;
  width: 279px;
  height: 39px;
  left: 24px;
  top: 971px;
  
  font-family: 'poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;

}

.h4{
  position: absolute;
width: 332px;
height: 108px;
left: 24px;
top: 1088px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;

color: #000000;
}
.p{
  position: absolute;
width: 332px;
height: 216px;
left: 24px;
top: 1264px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #000000;
}

.svg-container3{
  background-image: url(../assets/images/illu3.svg);
  position: absolute;
width: 1102px;
height: 1084.18px;
left: 0px;
top: 768px;
background-repeat: no-repeat;
}

// une rencontre section//

.h3_2{
  position: absolute;
width: 323px;
height: 96px;
left: 24px;
top: 1528px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;

color: #000000;

}

.h4_2{
  position: absolute;
width: 332px;
height: 170px;
left: 24px;
top: 1644px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;

color: #000000;
}
.p_2{
  position: absolute;
width: 332px;
height: 144px;
left: 24px;
top: 1896px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #000000;
}