
@import 'section-one';

@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');




//navigation desktop//
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  font-style: normal;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

header {
  text-align: center;
  padding: 0.5rem 0 5rem;
  font-size:20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-flex;
}

a {
  position: relative;
  padding: 1rem 0 0.5rem;
  margin: 0 1.5rem;
  color: rgb(17, 1, 1);
  text-decoration: none;
  
  
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 1px;
    background-color:rgb(17, 1, 1);
    transition: transform 250ms;
  }
  
  &:hover {
    
    &::after {
      transform: translateX(-50%) scaleX(1);
    }
    
  }
  
}
//div 1--> titre//
.svg-container {
 
  background-image: url('assets/images/illu1.svg');
 
}

h1{
  position: absolute;
  width: 297px;
  height: 62px;
  left: 46px;
  top: 143px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 74px;
  
  color: #000000;
}

h2{
  position: absolute;
width: 280px;
height: 85px;
left: 48px;
top: 237px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 42px;

color: #000000;
}
//section intro//



.fond{
position: absolute;
width: 390px;
height: 507px;
left: 0px;
top: 432px;

background: rgba(255, 150, 165, 0.13);
border-radius: 8px;

}
/* Introduction */

h3{
position: absolute;
width: 197px;
height: 48px;
left: 24px;
top: 464px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
/* identical to box height */
color: #000000;
}
 

  
  